<%= form_for(@animal_item) do |f| %>
  <% if @animal_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@animal_item.errors.count, "error") %> prohibited this animal_item from being saved:</h2>

      <ul>
      <% @animal_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :animal_id %><br>
    <%= f.text_field :animal_id %>
  </div>
  <div class="field">
    <%= f.label :checkout_id %><br>
    <%= f.text_field :checkout_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
