<html>

<body>
<table border="1">
	<th>Rank</th>
	<th>Title</th>
	<th>Author</th>
	<th>Language</th>
	<th>Year</th>
	<th>Copies</th>
	<% for @book in @books %>
		<tr>
			<td><%= @book[0] %></td>
			<td><%= @book[1] %></td>
			<td><%= @book[2] %></td>
			<td><%= @book[3] %></td>
			<td><%= @book[4] %></td>
			<td><%= @book[5] %></td>
		</tr>
	<% end %>
</table>
</body>
</html>